include README.md
include LICENSE
include pyproject.toml
recursive-include drf_auth_package *.py
recursive-include drf_auth_package/migrations *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
